@import "./themes";

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
  [nbButton] {
    text-transform: unset !important;
  }
  .another-action {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  span.menu-title {
    margin-right: 0.5rem;
  }
}
.nb-theme-default nb-menu .menu-item a.active .menu-icon,
.nb-theme-default nb-menu .menu-item a.active,
.nb-theme-default nb-tabset .tab.active .tab-link {
  color: deeppink !important;
}
.nb-theme-default nb-tabset .tab.active .tab-link::before,
.nb-theme-default .pace .pace-progress{
  background-color: deeppink !important;
}
.nb-theme-default .pace .pace-progress-inner{
  box-shadow: 0 0 10px rgba(255, 20, 145, 0.623), 0 0 5px rgba(255, 20, 145, 0.623) !important;
}

.nb-theme-default nb-menu .menu-item a:hover .menu-icon,
.nb-theme-default nb-menu .menu-item a:hover{
  color:rgba(255, 20, 145, 0.623) !important;
}
.nb-theme-default nb-tabset .tab:hover .tab-link::before{
  background-color: rgba(255, 20, 145, 0.623) !important;
}

.nb-theme-default a:hover{
  color:rgba(255, 20, 145, 0.623) !important;
}
.nb-theme-default a:focus{
  outline-color: rgba(255, 20, 145, 0.623) !important;
}
