<nb-card >
  <nb-card-header >
    <nav class="navigation"> <a (click)="goBack()" class="link back-link" aria-label="Back">
        <nb-icon icon="arrow-back"></nb-icon>
      </a>
    </nav>
  </nb-card-header>
  <nb-card-body >

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <nb-card>
            <nb-card-body>
              <img class="card-img-top img-thumbnail" src="{{userDetails.photoURL || 'assets/images/avatar.png'}}"
                alt="{{userDetails.nickName}}">
              <h4>{{userDetails.nickName}}</h4>
              <div>
                <strong langg>Residence</strong>
                <p>{{userDetails.country}} - {{userDetails.city}}</p>
              </div>
              <div>
                <strong langg>Age</strong>
                <p>{{userDetails.age | localNumber}}</p>
              </div>
              <div>
                <strong langg>Last Seen</strong>
                <p>{{userDetails.lastActive |timeAgo }}</p>
                <!-- <p>{{userDetails.lastActive | timeAgo}}</p> -->
              </div>
              <div>
                <strong langg>Member from</strong>
                <p>{{userDetails.createdOn | localDay}}</p>
              </div>
            </nb-card-body>

            <nb-card-footer>
              <a href="#">
                <nb-icon status="danger" icon="heart-outline"></nb-icon>
              </a>
              <a href="#">
                <nb-icon status="success" icon="email-outline"></nb-icon>
              </a>
              <!-- <button class="btn btn-primary ml-2 w-100" (click)="selectTab(3);">مراسلة</button> -->
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <nb-tabset #memberTabs class="member-tabset">
            <nb-tab [tabTitle]="'About me' | langg">
              <nb-card accent="danger">
                <nb-card-header>
                  <h4 langg>Introduce Myself</h4>
                </nb-card-header>
                <nb-card-body>
                    <div class="card-text mt-3 p-2">
                      <p *ngIf="!userDetails.about" langg>There is no information to display.</p>
                  <p #about>{{userDetails.about | slice:0:200 }}</p>
                  </div>
                </nb-card-body>
                <button nbButton status="primary" [hidden]='!showIntro' *ngIf="userDetails.about !=null && userDetails.about.length>200"
                  (click)="about.innerText = userDetails.about;showIntro=false;">Read more...</button>
                <button nbButton status="danger" [hidden]='showIntro'
                  (click)="about.innerText = userDetails.about.slice(0,200);showIntro=true;" langg>Collapse</button>
              </nb-card>

              <nb-card accent="danger">
                <nb-card-header>
                  <h4 langg>Look for</h4>
                </nb-card-header>
                <div class="card-text mt-3 p-2">
                    <p *ngIf="!userDetails.lookingFor" langg>There is no information to display.</p>
                  <p #look>{{userDetails.lookingFor | slice:0:200 }}</p>
                </div>
                <button nbButton status="primary" [hidden]='!showLook' *ngIf="userDetails.lookingFor!=null && userDetails.lookingFor.length>200"
                  (click)="look.innerText = userDetails.lookingFor;showLook=false;" langg>Read more...</button>
                <button nbButton status="danger" [hidden]='showLook'
                  (click)="look.innerText = userDetails.lookingFor.slice(0,200);showLook=true;" langg>Collapse</button>
              </nb-card>
            </nb-tab>
            <nb-tab [tabTitle]="'My hobbies' | langg">
              <nb-card accent="danger">
                <nb-card-header>
                  <h4 langg>My hobbies</h4>
                </nb-card-header>
                <div class="card-text mt-3 p-2">
                    <p *ngIf="!userDetails.interests" langg>There is no information to display.</p>
                  <p>{{userDetails.interests}}</p>
                </div>
              </nb-card>
            </nb-tab>
            <nb-tab [tabTitle]="'Photo Gallery' | langg">
                <p *ngIf="userDetails.photos.length == 0" langg>There is no photos to display.</p>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </nb-tab>
            <nb-tab [tabTitle]="'Messages' | langg" (deselect)="deselect()">
              <!-- <app-member-messages *ngIf="paid" [recipientId]="userDetails.id"></app-member-messages>
       <app-payment *ngIf="!paid"></app-payment> -->
            </nb-tab>

          </nb-tabset>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>