nb-user {
  cursor: pointer;
}
nb-card {
  max-height: 36rem;
}
nb-list-item:first-of-type {
  background-color: #0095ff;
}
nb-list-item:first-of-type /deep/ div.user-name, nb-list-item:first-of-type /deep/ div.user-title{
    color: #ffffff !important;
    font-weight: bolder;
}
