<div class="containar">
  <div class="row">
    <div class="col-5 col-lg-4 col-md-5 col-sm-5">
      <nb-card>
        <nb-list>
          <nb-list-item *ngFor="let user of users" [ngClass]="(userChatId==user.id)?'selectedUser':''" (click)="openChat(user);">
            <nb-user [name]="user.name" [title]="user.title | timeAgo" [picture]="user.picture"
            [badgeText]="user.unread" badgeStatus="danger">
            </nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div class="col-7 col-lg-8 col-md-7 col-sm-7">
      <nb-chat [title]="userChatName" size="large" [nbSpinner]=loading nbSpinnerStatus="info"
      status="info" size="medium">
        <nb-chat-message *ngFor="let msg of messages" [message]="msg.text" [reply]="msg.reply" [sender]="msg.user.name"
          [date]="msg.date" [avatar]="msg.user.avatar">
        </nb-chat-message>
        <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
        </nb-chat-form>
      </nb-chat>
    </div>
  </div>
</div>