nb-user {
  cursor: pointer;
}
nb-card {
  max-height: 36rem;
}
.selectedUser {
  background-color: #0095ff !important;
}
.selectedUser /deep/ div.user-name, .selectedUser /deep/ div.user-title{
    color: #ffffff !important;
    font-weight: bolder !important;
}
