.picker {
  width: 30rem;
  max-width: 80%;
  height: 30rem;
  max-height: 30vh;
  border: 1px solid var(--ion-color-primary);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

h2 {
  font-weight: bolder;
  font-family: "JF-Flat";
}

ion-col {
  text-align: center;
}

.btns-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button {
  font-family: "JF-Flat";
  font-weight: bolder;
}
