<ion-grid *ngIf="isLoading" class="picker">
  <div class="text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
</ion-grid>
<ion-grid *ngIf="!isLoading" class="picker">
  <ion-img role="button" class="image" (click)="onPickImage('gallary')" [src]="selectedImage" *ngIf="selectedImage">
  </ion-img>
  <ion-row *ngIf="!selectedImage">
    <ion-col size="12">
      <h2>إضافة صورة جديدة</h2>
    </ion-col>
    <ion-col size="12">
      <ion-button color="primary" (click)="onPickImage('camera')">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="onPickImage('gallary')">
        <ion-icon name="images"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="btns-images" *ngIf="selectedImage">
  <ion-button color="success" (click)="onSaveImage()">إضافة</ion-button>
  <ion-button color="danger" (click)="onCancelImage()">إلغاء</ion-button>
</div>
<input type="file" accept="image/jpeg" *ngIf="usePicker" #filePicker (change)="onFileChosen($event)" />