<div class="row" [nbSpinner]="loadingPhoto">
  <div *ngFor="let photo of photos" class="col-lg-4 col-md-6 col-sm-12">
    <nb-card class="text-center">
      <nb-card-body>
        <img src="{{photo.url}}" class="img-thumbnail" alt="">
        <div class="text-center img-text" *ngIf="!photo.isApproved">
          <span class="text-danger" langg>Approval Pending</span>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div *ngIf="photo.isMain">
          <strong langg>Main Photo</strong>
        </div>
        <div *ngIf="!photo.isMain">
          <button nbButton size="small" type="button" (click)="setMainPhoto(photo)" [disabled]="photo.isMain"
            [outline]="photo.isMain ? false : true" status="success"><strong langg>Main</strong></button>
          <button nbButton outline status="danger" size="small" type="button" [disabled]="photo.isMain"
            (click)="delete(photo.id)">
            <nb-icon icon="trash-2-outline" size="small"></nb-icon>
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<h3 class="fontKofi" langg>Add new photos</h3>
<div class="row text-center align-items-center">
  <div class="col-md-6 col-sm-12">
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
      [uploader]="uploader" class="well file-drop-zone">
      <span langg class="h6">Drop Photos here</span>
    </div>
  </div>
  <div class="col-md-1 col-sm-12">
    <h5 class="fontKofi" langg>OR</h5>
  </div>
  <div class="col-md-5 col-sm-12">
    <input [hidden]="true" #uploadMult type="file" ng2FileSelect [uploader]="uploader" multiple />
    <button nbButton (click)="uploadMult.click();" size="giant" langg>Choose Photos from Computer</button>
  </div>
</div>
<div class="row mt-2" [nbSpinner]="loading" nbSpinnerStatus="info">
  <div *ngIf="uploader?.queue?.length" class="col-md-12">
    <h5 class="fontKofi" langg>Upload queue:</h5>
    <p><span langg>Queue length:</span> {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr class="fontKofi">
          <th width="50%" langg>Name</th>
          <th langg>Size</th>
          <th langg>Progress</th>
          <th langg class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.options.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td nowrap>
            <button type="button" nbButton status="success" size="tiny" (click)="item.upload()"
              [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <nb-icon icon="cloud-upload-outline"></nb-icon> <span langg>Upload</span>
            </button>
            <button type="button" nbButton status="warning" size="tiny" (click)="item.cancel()"
              [disabled]="!item.isUploading">
              <nb-icon icon="slash-outline"></nb-icon><span langg>Cancel</span>
            </button>
            <button type="button" nbButton status="danger" size="tiny" (click)="item.remove()">
              <nb-icon icon="trash-2-outline"></nb-icon><span langg>Remove</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        <span langg>Queue progress:</span>
        <div class="progress mt-2">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <div class="mt-2 btnAll">
        <button type="button" nbButton status="success" (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length">
          <nb-icon icon="cloud-upload-outline"></nb-icon><span langg>Upload all</span>
        </button>
        <button type="button" nbButton status="warning" (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading">
          <nb-icon icon="slash-outline"></nb-icon><span langg>Cancel all</span>
        </button>
        <button type="button" nbButton status="danger" (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length">
          <nb-icon icon="trash-2-outline"></nb-icon><span langg>Remove all</span>
        </button>
      </div>
    </div>
  </div>
</div>

<swal #confirmSwal [title]="'Attention !' | langg" [text]="'Are you sure you want to delete it?' | langg" type="error" showCancelButton="true"
  [confirmButtonText]="'Delete' | langg" [cancelButtonText]="'Cancel' | langg" focusCancel="true" cancelButtonColor="#d33">
</swal>

<swal #doneSwal [title]="'Success' | langg" [text]="'Done successfully!' | langg" type="success" timer="2000" [showConfirmButton]="false">
</swal>