<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>تسجيلات الإعجاب</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="onChangeTab($event)" class="ion-padding-end ion-padding-top">
    <ion-segment-button value="favorites" checked>من أعجبت بهم</ion-segment-button>
    <ion-segment-button value="fans">المعجبين بي</ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="tabValue=='favorites'" class="ion-text-center">
    <ion-chip outline color="warning" *ngIf="likesToData?.length==0">
      <ion-label>لا توجد إعجابات حتى الآن ! </ion-label>
    </ion-chip>
    <ion-item *ngFor="let like of likesToData; let i = index" lines="full">
      <div *ngIf="loadingId==like.id" class="spin">
        <ion-spinner name="lines"></ion-spinner>
      </div>
      <ion-item *ngIf="loadingId!=like.id">
        <ion-avatar slot="start">
          <img [src]="like.photoURL">
        </ion-avatar>
        <ion-label>
          <h2>{{like.nickName}}</h2>
          <p>{{like.country}} - {{like.city}}</p>
          <ion-row class="ion-no-padding">
            <ion-row>
              <ion-col class="ion-padding-end">
                <ion-button expand="block" [routerLink]="['/members/',like.id]">التفاصيل
                </ion-button>
              </ion-col>
              <ion-col class="ion-padding-end">
                <ion-button expand="block" color="medium" (click)="dislike(like.id,i)">إلغاء الإعجاب</ion-button>
              </ion-col>
            </ion-row>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="tabValue=='fans'" class="ion-text-center">
    <ion-chip outline color="warning" *ngIf="likesFromData?.length==0">
      <ion-label>لا توجد إعجابات حتى الآن ! </ion-label>
    </ion-chip>
    <ion-item *ngFor="let like of likesFromData; let i = index" lines="full">
      <ion-avatar slot="start">
        <img [src]="like.photoURL">
      </ion-avatar>
      <ion-label>
        <h2>{{like.nickName}}</h2>
        <p>{{like.country}} - {{like.city}}</p>
        <ion-button expand="block" [routerLink]="['/members/',like.id]" routerDirection="root">التفاصيل</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>