<div class="row">
  <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
    <nb-card>
      <nb-card-header>{{user.nickName || user.userName}}</nb-card-header>
      <nb-card-body>
        <nb-user size="giant" [name]="user.gender | langg" [title]="user.age|localNumber"
          [picture]="user.photoURL || 'assets/images/avatar.png'">
        </nb-user>
      </nb-card-body>
      <nb-card-footer>{{user.country}} - {{user.city}}</nb-card-footer>

      <ul dir="ltr" class="list-inline members-icons animate text-center">
        <li class="list-inline-item">
          <button class="btn btn-outline-danger" [routerLink]="['/pages/members', user.id]"
          [queryParams]="{tab:3}" [nbTooltip]="'Connect' | langg">
            <nb-icon icon="email-outline"></nb-icon>
          </button>
        </li>
        <li class="list-inline-item">
          <button *ngIf="user.isLiking" class="btn btn-outline-danger" [nbTooltip]="'Dislike' | langg" (click)="dislike(user.id);user.isLiking=false;">
            <nb-icon icon="heart"></nb-icon>
          </button>
          <button *ngIf="!user.isLiking" class="btn btn-outline-danger" [nbTooltip]="'Like' | langg" (click)="like(user.id);user.isLiking=true;">
            <nb-icon icon="heart-outline"></nb-icon>
          </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-outline-danger" [routerLink]="['/pages/members', user.id]"
          [nbTooltip]="'Member Details' | langg">
            <nb-icon icon="person-outline"></nb-icon>
          </button>
        </li>
      </ul>
    </nb-card>
  </div>
</div>

<div *ngIf="true" class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [itemsPerPage]="pagination.pageSize" [totalItems]="pagination.totalItemCount"
    [(ngModel)]="pagination.pageNumber" (pageChanged)="pageChanged($event);" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>