@import '../../shared/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  nb-card{
    cursor: pointer;
  }

  nb-card{
    text-align: center !important;
  }

  nb-card:hover{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }

  pagination-controls{
    text-align: center !important;
  }
}

/* :host ::ng-deep div.user-name{
  font-size: large !important;
    font-weight: bolder !important;
    margin-bottom: 10% !important;
  } */
