<div class="row">
  <div *ngFor="let user of users | paginate: { itemsPerPage: 12, currentPage: p }" class="col-lg-2 col-md-3 col-sm-6">
    <nb-card (click)="alert()">
      <nb-card-header>{{user.nickName}}</nb-card-header>
      <nb-card-body>
        <nb-user size="giant" [name]="user.gender" [title]="user.age"
          [picture]="user.photoURL!=null? user.photoURL: 'assets/images/avatar.png'">
        </nb-user>

      </nb-card-body>
      <nb-card-footer>{{user.country}} - {{user.city}}</nb-card-footer>
    </nb-card>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" maxSize="12" directionLinks="true" autoHide="true" responsive="true"
  previousLabel="" nextLabel="" screenReaderPaginationLabel="" screenReaderPageLabel="" screenReaderCurrentLabel="">
</pagination-controls>