<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" routerLink="/pages"><span langg>Zawaj</span><nb-icon icon="heart"></nb-icon></a>
    <nb-menu [items]="menu"></nb-menu>
  </div>
  
</div>

<div #divMenu class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
        <span langg>Quick Search</span>
      <nb-search type="rotate-layout" [placeholder]="'Member Name...' | langg" hint="Hit enter to search"></nb-search>
    </nb-action>
    <nb-action *ngIf="isLoggedIn()" class="control-item" [nbContextMenu]="alertItems"
    icon="bell-outline" [badgeText]="9|localNumber" badgeSize="tiny" badgePosition="top left" badgeStatus="danger">
    </nb-action>
    <nb-action class="control-item" icon="globe-outline" [nbContextMenu]="langMenu">      
    </nb-action>
    <nb-action *ngIf="!isLoggedIn()" class="control-item" >
        <a langg routerLink="/auth/login" nbButton outline shape="round" size="small" status="danger" uppercase={false}>Login</a>
        <a langg routerLink="/auth/register" nbButton outline shape="round" size="small" status="primary">Register</a >
      </nb-action>
    <nb-action *ngIf="isLoggedIn()" class="user-action" >
      <nb-user id="userMenu" [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.username | titlecase"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>

<swal #logoutSwal [title]="'Success' | langg" [text]="'Logout successfully!' | langg"
  type="success" timer="3000" [showConfirmButton]="false">
</swal>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header langg>Welcome new Member !</nb-card-header>
      <nb-card-body langg>Now you can add new photos and update all your personal information by clicking on the menu in the top right of the page.</nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="ref.close()" langg status="danger">OK</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>