/* ion-card-content{
    padding-top: unset;
    padding-bottom: unset;
}
ion-card-content:last-of-type{
    padding-bottom: 20px;
} */

h1{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}