/* ion-card-content{
    padding-top: unset;
    padding-bottom: unset;
}
ion-card-content:last-of-type{
    padding-bottom: 20px;
} */

h1{
    color: black;
    font-family: 'JF-Flat';
    font-weight: bolder;
}