<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>{{userDetails?.nickName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="secondary">
            <ion-icon name="arrow-dropdown"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button color="danger">
            <ion-icon name="heart"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="primary">
            <ion-icon name="mail"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    <ion-card>
        <img [src]="userDetails?.photoURL" />
        <ion-card-header>
          <ion-card-title>مكان الإقامة</ion-card-title>
          <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          {{userDetails?.country}} - {{userDetails?.city}}
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>العمر</ion-card-title>
          <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          {{userDetails?.age | localNumber}}
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>آخر ظهور</ion-card-title>
          <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          {{userDetails?.lastActive | timeAgo}}
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>مشترك منذ</ion-card-title>
          <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
        </ion-card-header>
        <ion-card-content>
          {{userDetails?.createdOn | localDay}}
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>أعرفك بنفسي</ion-card-title>
            <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            {{userDetails?.about}}
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>أبحث عن</ion-card-title>
            <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            {{userDetails?.lookingFor}}
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>هواياتي</ion-card-title>
            <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            {{userDetails?.interests}}
          </ion-card-content>
        </ion-card>
</ion-content>
