<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{userDetails?.nickName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userDetails">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="secondary">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="danger">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary">
        <ion-icon name="mail"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-segment (ionChange)="onChangeTab($event)" class="ion-padding-end ion-padding-top">
    <ion-segment-button value="basic" checked>بياناتي</ion-segment-button>
    <ion-segment-button value="about">لمحة عني</ion-segment-button>
    <ion-segment-button value="photos">صوري</ion-segment-button>
  </ion-segment>

  <ion-card *ngIf="tabValue=='basic'">
    <ion-card-content>
      <ion-list>
      <ion-item lines="none">
        <ion-thumbnail slot="end">
          <img [src]="userDetails?.photoURL || 'assets/images/avatar.png'" />
        </ion-thumbnail>
        <ion-label>
          <h1>مكان الإقامة</h1>
          <h2>{{userDetails?.country}} - {{userDetails?.city}}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h1>العمر</h1>
          <h2>{{userDetails?.age | localNumber}}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h1>آخر ظهور</h1>
          <h2>{{userDetails?.lastActive | timeAgo}}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h1>مشترك منذ</h1>
          <h2>{{userDetails?.createdOn | localDay}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="tabValue=='about'">
    <ion-card-content>
      <ion-label>
        <h1>أعرفك بنفسي</h1>        
        <h2>{{userDetails?.about}}</h2>
        <h3 *ngIf="!userDetails.about">لا توجد بيانات لعرضها حاليا</h3>
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
        <h1>أبحث عن</h1>
        <h2>{{userDetails?.lookingFor}}</h2>
        <h3 *ngIf="!userDetails.lookingFor">لا توجد بيانات لعرضها حاليا</h3>
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
        <h1>هواياتي</h1>
        <h2>{{userDetails?.interests}}</h2>
        <h3 *ngIf="!userDetails.interests">لا توجد بيانات لعرضها حاليا</h3>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="tabValue=='photos'">
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-img [src]="userDetailsPhotoURL"></ion-img>
          </ion-col>
          <ion-col size="4" *ngFor="let photo of userDetails.photos" class="ion-no-padding">
            <!-- <ion-img [src]="photo.url"></ion-img> -->
            <div class="image-container" [style.background-image]="'url('+photo.url+')'"
            [ngStyle]="{ 'opacity' : (photo.url==userDetailsPhotoURL)? '1' : '0.5' }"
            (click)="userDetailsPhotoURL=photo.url"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!-- <ion-grid>
    <ion-row align-items-center>
      <ion-col size="12" size-md="6">
        <ion-card>
          <img [src]="userDetails?.photoURL" />
          <ion-card-content>
            <ion-label>
              <h1>مكان الإقامة</h1>
              <h2>{{userDetails?.country}} - {{userDetails?.city}}</h2>
            </ion-label>
            <hr>
            <ion-label>
              <h1>العمر</h1>
              <h2>{{userDetails?.age | localNumber}}</h2>
            </ion-label>
            <hr>
            <ion-label>
              <h1>آخر ظهور</h1>
              <h2>{{userDetails?.lastActive | timeAgo}}</h2>
            </ion-label>
            <hr>
            <ion-label>
              <h1>مشترك منذ</h1>
              <h2>{{userDetails?.createdOn | localDay}}</h2>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-label>
              <h1>أعرفك بنفسي</h1>
              <h2>{{userDetails?.about}}</h2>
            </ion-label>
          </ion-card-content>
          <ion-card-content>
            <ion-label>
              <h1>أبحث عن</h1>
              <h2>{{userDetails?.lookingFor}}</h2>
            </ion-label>
          </ion-card-content>
          <ion-card-content>
            <ion-label>
              <h1>هواياتي</h1>
              <h2>{{userDetails?.interests}}</h2>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>