<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{userDetails?.nickName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="secondary">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="danger">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary">
        <ion-icon name="mail"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="12" size-md="6">
        <ion-card>
          <img [src]="userDetails?.photoURL" />
          <!-- <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header> -->
          <ion-card-content>
            <ion-label>
              <h1>مكان الإقامة</h1>
              <h2>{{userDetails?.country}} - {{userDetails?.city}}</h2>
            </ion-label>
            <hr>
            <ion-label>
              <h1>العمر</h1>
              <h2>{{userDetails?.age | localNumber}}</h2>
            </ion-label>
            <hr>
            <ion-label>
              <h1>آخر ظهور</h1>
              <h2>{{userDetails?.lastActive | timeAgo}}</h2>
            </ion-label>
            <hr>
            <ion-label>
              <h1>مشترك منذ</h1>
              <h2>{{userDetails?.createdOn | localDay}}</h2>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-label>
              <h1>أعرفك بنفسي</h1>
              <h2>{{userDetails?.about}}</h2>
            </ion-label>
          </ion-card-content>
          <ion-card-content>
            <ion-label>
              <h1>أبحث عن</h1>
              <h2>{{userDetails?.lookingFor}}</h2>
            </ion-label>
          </ion-card-content>
          <ion-card-content>
            <ion-label>
              <h1>هواياتي</h1>
              <h2>{{userDetails?.interests}}</h2>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>